@import '~antd/dist/antd.css';

.content {
    background: white;
}

.layout {
    background: white;
}

.login-form {
    max-width: 350px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.login-form {
    margin: 171px auto;
}

.email-icon {
    color: rgba(0, 0, 0, 0.25);
}

.my-posts {
    max-width: 350px;
    padding-top: 10px;
}

.cover {
    margin: -500px 0px 0px 0px
}

.cover-container {
    height: 350px;
    overflow: hidden;
}

.about-me {
    margin: -95px 100px;
}
